# Database Configuration
DB_USER=admin
DB_PASS=password123
DB_NAME=traffic_db

# MinIO Configuration
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword

# CVAT Configuration
CVAT_URL=http://172.16.0.252:8080
